*
{
  color:black;
}

.container
{
  max-width: 1350px;
  margin: auto;
}

a:hover
{
  background-color: black;
}

.basDeCase .rejouer:hover
{
  color: white;
}

button:hover
{
  background-color: black;
}
