*
{
  /* border: 1px solid; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.case
{
  border: 2px ridge lightgrey;
  border-radius: 10% 0 10% 0;
  max-width: 340px;
  box-shadow: 5px 10px darkgrey;
  background-image: linear-gradient(to left, rgb(180, 252, 87), rgb(44, 145, 17));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 15px;
}

figure
{
  width: 140px;
  height: 200px;
  /* background-image: url("img/dos-rouge.png"); */
  margin: 0;
  padding: 0;
  /* réinitialisation des marges */
}

h2
{
  margin: 5px;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

h2:hover
{
  transform: scale(1.5);
  text-shadow: 2px 1px white;
}

.cartes
{
  display: flex;
  justify-content: space-around;
}

.case:hover
{
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(360deg);
  /* transition: 3s ease; */
}

figure img
{
  border-radius: 15px;
}

figure img:first-child
{
  position:absolute;
  -webkit-transition-delay: 10s;
  -moz-transition-delay: 10s;
  -ms-transition-delay: 10s;
  -o-transition-delay: 10s;
  transition-delay: 10s;
  z-index: 1;
}

figure:hover img:first-child
{
  opacity: 0;
  transition: all .25s ease-out;
}

figure:active img:first-child
{
  opacity: 0;
}

.basDeCase
{
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.basDeCase img
{
  width: 15px;
}

button
{
  background-image: url("../img/3dots.svg");
  background-color: transparent;
  background-size: contain;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 30% 0 30% 0;
  margin-right: 15px;
}

.rejouer
{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
}

a
{
  text-decoration: none;
  font-size: 1.1em;
}

.basDeCase a:first-child:hover, .basDeCase img:hover
{
  box-sizing: border-box;
}

.basDeCase a:last-child:hover, .rejouer, button:hover
{
  border: 1px outset white;
  box-shadow: 4px 3px 10px grey;
  /* si la balise contenue dans le lien est décalée, la bordure n'est pas décalée avec */
}

.rejouer:hover
{
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

button:hover
{
  transform: scale(1.6);
}
#joker:hover
{
  filter: hue-rotate(90deg);
}
